*{margin: 0; padding:0; box-sizing: border-box;}

:root {
    --main-font-color: #404040;
    --accent-blue: hsl(242, 31%, 19%);
    --bg-color: #D9D9D9;
}
.back{
 
    color:hsl(242, 31%, 19%);
    font-size:14px;
}

body{
    margin:2rem;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: var(--bg-color);
}


.grid-container {
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
}

header{
    padding:2rem;
	text-align: center;
    color:var(--main-font-color); 
}


.services-title{
    color: var(--main-font-color);
    text-align: center;
    font-size: 1rem;
}


.quote{
    text-align: center;
    color:var(--main-font-color);
    margin:0;
    
}

a {
    color:#737373;
    text-decoration:none;
    z-index: 99999;
}


/* box */


.menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    
    font-size:1.2rem;
}

.menu .item {
    margin: .5rem 0;
    padding: 2rem;
    /* background-color:#F2F2F2; */
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    transition: transform 0.5s ease,
                box-shadow 0.5s ease;
}

.item:hover {
    transform: scale(1.015);
    box-shadow: 0 .5em 1em 0 #737373;
}

@media only screen and (max-width: 550px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .grid-item-a {
        grid-row: 2 / 3;
    }

    .grid-item-b {
        grid-row: 1 / 2;
    }

    footer {
        position: static;
    }
}



